extends layout

block content
  .w3-container 
  h1 Filmes
  h2 Aqui pode inserir filmes, ver a informação de cada filme e apagar filmes 
  a(style='color:red' class='w3-bar-item w3-button' href='/filmes/') Ver lista de filmes