doctype html
html
  head
    title Gestão de Alunos (PRI - tpc nº5)
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://unpkg.com/axios/dist/axios.min.js')
    script(src='/javascripts/apagar.js')
  body
    block content
